/* APP CSS - GIRLY EDITION */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&display=swap');

body {
    background-color: #f3e5f5; /* Lilás bem clarinho de fundo */
    background-image: radial-gradient(#e1bae4 0.5px, transparent 0.5px); /* Pontinhos retro */
    background-size: 20px 20px;
    color: #5d4037;
    font-family: 'Fredoka', sans-serif;
}

.main {
    max-width: 500px;
    width: 85%;
    margin: 3rem auto;
    padding: 2rem;
    text-align: center;
    background-color: #ffffff;
    border-radius: 30px; /* Bordas super arredondadas */
    border: 4px solid #ffb350; /* Borda colorida */
    box-shadow: 10px 10px 0px #d999dd; /* Sombra sólida Retro */
}

@media screen and (min-width: 600px) {
    .main {
        width: 70%;
    }
}

h1 {
    font-size: 1.2rem;
    color: #9a536d;
    margin-bottom: 2rem;
    line-height: 1.4;
}

label {
    font-size: 1.6rem;
    font-weight: 600;
    display: block;
    padding-bottom: 1rem;
    color: #ed97f3;
}

/* Input principal (Nome/Tarefa) */
.lg-text-input {
    width: 100%;
    padding: 1.2rem;
    border: 3px solid #ffb350;
    background-color: #fffdf9;
    display: block;
    box-sizing: border-box;
    font-size: 1.1rem;
    border-radius: 15px;
    margin-bottom: 1rem;
    outline: none;
}

.lg-text-input:focus {
    border-color: #e9b6ec;
}

/* Botões Principais */
.btn-primary {
    background-color: #d396a0;
    color: white;
    border: none;
    padding: 1rem 2rem;
    border-radius: 50px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 5px 0 #d5b2d8;
    transition: all 0.2s;
    margin-bottom: 1rem;
}

.btn-primary:active {
    transform: translateY(4px);
    box-shadow: 0 1px 0 #d9b5db;
}

.btn-wrapper {
    margin-bottom: 2rem;
}

ul {
    padding-inline-start: 0;
    margin-top: 2rem;
}

ul li {
    list-style: none;
    background: #fff0f6; /* Fundo rosinha para cada item */
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #ffdae9;
}

.active {
    color: #ebbeee;
    font-weight: bold;
}